body {
    border: 100%;
    margin: 0%;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.red {
    background-color: red;
    flex: 1;
    /*  display: flex;
    flex:1;
    background-color: red;
    width: 100%;
    height: 50%; */
}

.green {
    background-color: green;
    flex: 1;
    /* height: 50%; 
    width: 100%;
    flex:1;
    flex-direction: row;
    display: flex;
    background-color: rgb(14, 238, 11);*/
}

.gold {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 50%;
}

.yellow {
    width: 50%;
    /* height: 100%; */
    background-color: rgb(196, 243, 9);
    display: flex;
    flex-direction: row;
}